<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/toolbar.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Администрирование</title>
</head>
<body>
<div id="toolbar">
    <span class="titleTB"><a href="main">Главная</a></span>
    <ul>
        <li><a href="registration">Регистрация</a><span>Регистрация в системе</span></li>
        <li><a href="authorization">Авторизация</a><span>Вход в систему</span></li>
        <li><a href="logout">Выход</a><span>Выход из системы</span></li>
        <li><a href="notes">Заметки</a><span>Ваши заметки</span></li>
        <li><a href="admin">Администрирование</a><span>Управление учетными записями</span></li>
    </ul>
</div>
<div>
    <H1>Страница администрирования</H1>
</div>
</body>
</html>